.card {
    width: 100px;
    height: 143px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color .4s;
}

.daysHours {
    font-size: 14px;
    font-weight: var(--weight400);
    transition: color .4s;
}

.card:nth-child(7),
.card:nth-child(8),
.card:nth-child(9),
.card:nth-child(10),
.card:nth-child(11),
.card:nth-child(12) {
    display: none;
}

.card:nth-of-type(-n+6) {
    margin-right: 25px;
}

.card.dark-mode {
    background-color: var(--dark-theme);
}

.cardImg {
    position: absolute;
    margin-top: 25px;
}

/* dark-themes */

.daysHours.dark-mode {
    color: var(--lightGray);
}

.degreesEvening.dark-mode {
    color: #6d6d6d;
}

.degreesMorning.dark-mode {
    color: var(--lightGray);
}

@media (max-width: 1439px) {

    .card:nth-child(4),
    .card:nth-child(5),
    .card:nth-child(6) {
        display: none;
    }

    .card:nth-child(3) {
        margin-right: 0;
    }
}

@media (max-width: 833px) {

    .card:not(:last-child) {
        margin-right: 0;
    }

    .card:nth-child(4),
    .card:nth-child(5),
    .card:nth-child(6),
    .card:nth-child(7),
    .card:nth-child(8),
    .card:nth-child(9),
    .card:nth-child(10),
    .card:nth-child(11),
    .card:nth-child(12) {
        display: flex;
    }

    .card:nth-of-type(-n+6) {
        margin-right: 0;
    }

    .card:not(:nth-child(2n)) {
        margin-right: 55px;
    }

    .card:nth-child(n+3) {
        margin-top: 30px;
    }
}