.card {
    width: 100px;
    height: 143px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color .4s;
}

.daysHours {
    font-size: 14px;
    font-weight: var(--weight400);
    transition: color .4s;
}

.degreesEvening {
    color: rgba(211, 211, 211, 1);
    font-weight: var(--weight400);
    transition: color .4s;
    font-size: 14px;
}

.degreesMorning {
    color: var(--gray-color);
    font-weight: var(--weight400);
    font-size: 13px;
    transition: color .4s;
}

.card.dark-mode {
    background-color: var(--dark-theme);
}

.card:not(:last-child) {
    margin-right: 25px;
}

.cardImg {
    position: absolute;
    margin-top: 25px;
}

/* dark-themes */

.daysHours.dark-mode {
    color: var(--lightGray);
}

.degreesEvening.dark-mode {
    color: #6d6d6d;
}

.degreesMorning.dark-mode {
    color: var(--lightGray);
}


