.forecastContainer {
    max-width: 980px;
    width: 100%;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    transition: background-color .4s;
}

.forecast {
    max-width: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecastWeekMonth {
    display: flex;
    flex-direction: column;
}

.forecastBlock {
    display: flex;
    align-items: baseline;
}

.forecastText {
    color: var(--gray-color);
    font-size: var(--fsize24);
    font-weight: var(--weight700);
    transition: background-color .4s;
}

.forecastWeek {
    color: var(--otherGray-color);
    font-weight: var(--weight700);
    font-size: 20px;
    border: none;
    margin-left: 25px;
    padding: 0;
    height: 31px;
    transition: background-color .4s;
}

.forecastHour {
    color: var(--otherGray-color);
    font-weight: var(--weight700);
    font-size: 20px;
    border: none;
    margin-left: 25px;
    padding: 0;
    height: 31px;
    transition: background-color .4s;
}

.cardList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 150px;

}

.cardListWeek {
    display: flex;
}

.active {
    border-bottom: 3px solid var(--gray-color);
    color: var(--gray-color);
}

.lastCard {
    display: none;
}

/* dark-themes */

.forecastContainer.dark-mode,
.forecastWeek.dark-mode,
.forecastHour.dark-mode {
    background-color: rgba(16, 14, 28, 1);
}

.cardDetails.dark-mode {
    background-color: var(--dark-theme);
}

.active.dark-mode {
    border-bottom: 3px solid var(--lightGray);
    color: var(--lightGray);
}

.degreesEvening.dark-mode {
    color: #6d6d6d;
}

.degreesMorning.dark-mode,
.forecastText.dark-mode {
    color: var(--lightGray);
}

@media (max-width: 1439px) {

    .forecastContainer {
        max-width: 505px;
    }

    .forecastText {
        margin-top: 61px;
    }

    .forecastWeekMonth {
        align-items: center;
    }

    .moreDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .moreDetailsTitle {
        margin-bottom: 0;
    }

    .cardsDetails {
        margin-top: 25px;
        margin-bottom: 83px;
        display: block;
    }

    .cardDetails:not(:first-child) {
        margin-top: 27px;
    }

    .cardDetails:nth-child(1),
    .cardDetails:nth-child(3) {
        margin-right: 0;
    }

    .cardDetails {
        margin: 0;
    }

}

@media (max-width: 833px) {

    .forecastBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardDetails:not(:first-child) {
        margin-top: 43px;
    }

    .cardList {
        flex-wrap: wrap;
        margin-top: 32px;
        margin-bottom: 0;
        max-width: 255px;
        width: 100%;
        height: 100%;
    }

    .forecastHour {
        margin-left: 0;
    }

}