.card {
    width: 100px;
    height: 143px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color .4s;
}

.daysHours {
    font-size: 14px;
    font-weight: var(--weight400);
    transition: color .4s;
}

.cardImg {
    position: absolute;
    margin-top: 25px;
}

/* dark-themes */

.card.dark-mode {
    background-color: var(--dark-theme);
}

.daysHours.dark-mode {
    color: var(--lightGray);
}

.degreesMorning.dark-mode {
    color: var(--lightGray);
}


@media (max-width: 833px) {

    .card:not(:last-child) {
        margin-right: 0;
    }

    .card:not(:nth-child(2n)) {
        margin-right: 55px;
    }

    .card:nth-child(n+3) {
        margin-top: 30px;
    }
}